body{
    font-family: 'Yeseva One', cursive;
    margin:0%

}
.topper{
    display: flex;
    height: 500px;
    margin-left: 65px;
    
}
.orange{
    color: orange;
}
.marg-top{
    margin-top: 60px;
}
.first{
    border-left: 3px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    padding-left: 5px;
    box-sizing: border-box;
    
    
}

.half-width{
    box-sizing: border-box;
    width: 50%;
}
.button{
    text-decoration: none;
    display:inline-block;
    margin-top:20px;
    padding:10px 20px ;
  background-image: linear-gradient(45deg,orange,pink);
  border-radius: 30px;
  color: rgb(102, 9, 79);
  font-weight: 700;
  transition: all 2s linear;
}
.button:hover{
    border-radius: 50px 0px 50px 0px;
}
.half-width img{
    width: 350px;
  
}
.image{
    box-sizing: border-box;
    padding-left:10%;
    padding-right: 10%;
}
.topper2{
    background-color: rgb(227, 228, 185);
    margin-left: 65px;
    margin-right: 65px;
   padding:40px;
   box-sizing: border-box;
border-radius: 20px;
}
.topper2 h1{
    text-align: center;
    margin-bottom: 80px;
}
.third-width{
    width: 30%;
    
    box-sizing: border-box;
    margin-right: 15px;
    padding:10px;
    border-radius: 15px;
}
.three-flex{
    display: flex;
    
}
.third-width img{
    width: 100px;
   
}
#one{
    background-color:#b2dfe4 ;
}
#two{
    background-color:#EFE6E6 ;
}
#three{
    background-color:#F3EFE4 ;
}
.topper32{
    
    background-image: url(images/shapes/shape-11.png);
    background-repeat: no-repeat;
    background-position: left;

}
.topper31{
    margin-left: 65px;
    display: flex;
}

/* .topper33{
    margin-top: 100px;
    margin-bottom: 100px;
} */
.aa img{
    width: 60%;
    padding-left: 40px;
    margin-top: 80px;
}
.again{
    box-sizing: border-box;
    padding-right: 100px;
    padding-top: 150px;
   
}
.a{
    color: white;
}
.b{
    color: rgb(24, 175, 180);
}
.foot{
    text-align: center;
    height: 150px;
    background-color: black;
    color: white;
    font-weight: 200;
    font-size: 12px; 
    padding-bottom: 5px;
    padding-top: 2px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 18px;
    font-weight: 300;
}
.own{
    
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.own2{
    padding-left: 200px;
    padding-right: 200px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 800;
    font-size: 22px;
}
.skills{
    color: rgb(216, 83, 22);
}
.last{
    background-color: cornsilk;
    padding-bottom: 15px;
}
#html{
    background-color: rgb(115, 185, 185);
}
#html img{
    border-radius: 50%;
}
.white{
    color: white;
}
#css{
    background-color: rgb(47, 110, 104);
}
#js{
    background-color: rgba(7, 34, 92, 0.575);
}
#js img{
    border-radius: 50%;
    padding-bottom: 20px;
}
